
.mobileDesignsMobile{
    min-height: 473.406px !important;
}

.otherDesigns,
.mobileImg,
.otherDesignsMobile{
    max-height: 535.055px !important;
}


@media(max-width: 767px){
    .mobileDesignsMobile{
        width: 186px;
    }

    .otherDesignsMobile{
        max-width: 270px !important;
    }
}
